# This file is used by `direnv`, which is an incredibly helpful tool.
# Install direnv, then run `direnv allow` in the directory.
# It will source the Python virtual environment when you enter and
# add the scripts/ directory to the PATH.

# for python venv
# layout python python3
# For uv, assume .venv already exists
source .venv/bin/activate
PATH_add scripts
